{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block extra_css %}
<style>
    /* Secciones de altura completa */
    section {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
    }

    /* Botón flotante */
    #btn-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }

</style>
{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GymAdmin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavLanding" aria-controls="navbarNavLanding" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavLanding">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#banner">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#ocupacion">Ocupación</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
            </ul>
        </div>
        <!-- Botón home -->
        <div class="d-flex">
            <a href="{% url 'home' %}" class="btn btn-outline-light">
                Volver a home
            </a>
        </div>
    </div>
</nav>


<!-- Formulario -->
<div class="col-md-6 mb-4 mx-auto text-center" >
    {% if mensaje %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>ERROR!</strong> {{mensaje}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}


    <h2>Inicia sesión</h2>
    <form method="post" action="{% url 'login' %}" class="text-center" >
        {% csrf_token %}
        <br>
        <div class="mb-3">
            <label for="dni" class="form-label text-start">DNI</label>
            <input type="text" id="dni" name="username" class="form-control" pattern="^\d{7,11}$" autofocus required title="Ingrese un dni valido" placeholder="12345678">
        </div>
        <br>
        <div class="mb-3">
            <label for="password" class="form-label text-start">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>




<!-- Botón volver arriba -->
<a id="btn-top" href="#banner" class="btn btn-danger btn-lg rounded-circle">
    <i class="bi bi-arrow-up"></i>
</a>


{% endblock %}