{% extends "base.html" %}

{% block content %}
<div class="d-flex">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-3 justify-content-end flex-column">
        <h2 class="mb-4">Listado de Asistencias</h2>
        <div>
            <a class="p-1" href="{% url 'crearAsistencia' %}">
                <button type="button" class="btn btn-success" >Crear nueva Asistencia</button>
            </a>
        </div>
        <br>    
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-dark bg-gradient">
                <tr>
                    <th>Email</th>
                    <th>Fecha de la clase</th>
                    <th>Asistencia</th>
                    <th>Hora de entrada</th>
                    <th>Hora de salida</th>
                    <th>Capacidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for asistencia in asistencias %}
                <tr>
                    <td>{{ asistencia.cliente.usuario.user.username }}</td>
                    <td>{{ asistencia.fecha_clase }}</td>
                    <td>{{ asistencia.asistencia }}</td>
                    <td>{{ asistencia.hora_entrada }}</td>
                    <td>{{ asistencia.hora_salida }}</td>
                    <td>{{ asistencia.capacidad }}</td>
                    <td>
                        <!-- botones -->
                        <a href="{% url 'editarAsistencia' pk=asistencia.id %}">
                        <button type="button" class="btn btn-sm btn-primary mb-1" href="">Editar</button></a>
                        <a href="{% url 'eliminarAsistencia' pk=asistencia.id %}">
                        <button type="button" class="btn btn-sm btn-danger mb-1">Eliminar</button></a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No hay asistencias registradas.</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}