{% extends "base.html" %}

{% block content %}
<div class="d-flex">
    <!-- Sidebar -->
    <nav class="bg-blue sidebar p-3" style="width: 220px; min-height: 100vh;">  
        <h5 class="mb-4">Administración</h5>
        <ul class="nav flex-column" style="background-color: #143669">
            <li class="nav-item mb-2 color-white bg-gradient bg-blue-dark">
                <a class="nav-link link-light" href="{% url 'usuarioAbm' %}">ABM Usuario</a>
            </li>
            <li class="nav-item mb-2 color-white bg-gradient bg-blue-dark">
                <a class="nav-link link-light" href="{% url 'membresiaAbm' %}">ABM Membresía</a>
            </li>
            <li class="nav-item mb-2 color-white bg-gradient bg-blue-dark">
                <a class="nav-link link-light" href="{% url 'asistenciaAbm' %}">ABM Asistencia</a>
            </li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="flex-grow-1 p-3 justify-content-end flex-column">
        <h2 class="mb-4">Listado de Clientes</h2>
        <div>
            <a class="p-1" href="{% url 'crearCliente' %}">
                <button type="button" class="btn btn-success" >Crear nuevo Cliente</button>
            </a>
        </div>
        <br>    
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-dark bg-gradient">
                <tr>
                    <th>Email</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Objetivo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.usuario_id.user_id.username }}</td>
                    <td>{{ cliente.altura }}</td>
                    <td>{{ cliente.peso }}</td>
                    <td>{{ cliente.objetivo }}</td>
                    <td>
                        <!-- botones -->
                        <a href="{% url 'editarCliente' pk=cliente.id %}">
                        <button type="button" class="btn btn-sm btn-primary mb-1" href="">Editar</button></a>
                        <a href="{% url 'eliminarCliente' pk=cliente.id %}">
                        <button type="button" class="btn btn-sm btn-danger mb-1">Eliminar</button></a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay clientes registrados.</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}