{% extends "base.html" %}

{% block content %}
<div class="d-flex">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

     <div class="flex-grow-1 p-4">
        <h2 class="mb-4">{% if es_edicion %}Editar {% else %}Crear {% endif %}Asistencia {{cliente.usuario.user.first_name}} {{cliente.usuario.user.last_name}}</h2>
        <a href="{% url 'asistencia_listar' %}">
            <button type="button" class="btn btn-sm btn-secondary mb-1">Volver</button>
        </a>
        <form method="post">
            <div class="mb-3 d-flex justify-content-around">
                {% csrf_token %}
                <div class="model-form p-3 flex-column col-md-4">
                    <h4>Datos de Asistencia</h4><br>
                    <p>
                    <label for="hora_entrada">Hora de entrada:</label>
                    {{ asistenciaForm.hora_entrada }}
                    </p>
                    <p>
                    <label for="hora_salida">Hora de salida:</label>
                    {{ asistenciaForm.hora_salida }}
                    </p>
                    <p>
                    <label for="importe">capacidad:</label>
                    {{ asistenciaForm.capacidad }}
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">{% if es_edicion %}Edit{% else %}Registr{% endif %}ar asistencia</button>
            </div>
        </form>
     </div>
</div>

{% endblock %}