{% extends "base.html" %}

{% block content %}
<div class="d-flex">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <h2 class="mb-4">Editar Cliente</h2>
        <form method="POST" class="w-50" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
            <a href="{% url 'cliente_listar' %}" class="btn btn-secondary mt-3">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
