{% extends "base.html" %}

{% block content %}
<div class="d-flex">
    <!-- Sidebar -->
    <nav class="bg-blue sidebar p-3" style="width: 220px; min-height: 100vh;">  
        <h5 class="mb-4">Administración</h5>
        <ul class="nav flex-column" style="background-color: #143669">
            <li class="nav-item mb-2 color-white bg-gradient bg-blue-dark">
                <a class="nav-link link-light" href="{% url 'clienteAbm' %}">ABM Cliente</a>
            </li>
            <li class="nav-item mb-2 color-white bg-gradient bg-blue-dark">
                <a class="nav-link link-light" href="{% url 'membresiaAbm' %}">ABM Membresía</a>
            </li>
            <li class="nav-item mb-2 color-white bg-gradient bg-blue-dark">
                <a class="nav-link link-light" href="{% url 'asistenciaAbm' %}">ABM Asistencia</a>
            </li>
        </ul>
    </nav>

     <div class="flex-grow-1 p-4">
        <h2 class="mb-4">Crear Usuario</h2>
        <a href="{% url 'usuarioAbm' %}">
            <button type="button" class="btn btn-sm btn-secondary mb-1">Volver</button>
        </a>
        <form method="post">
            {% csrf_token %}
            {{ userForm }}
            {% if user.is_superuser %}
                {{ userTipoForm }}
            {% endif %}
            {{ usuarioForm }}
            <button type="submit" class="btn btn-primary">Registrar Usuario</button>
        </form>
        <form>
            {% csrf_token %}
            <div class="model-form">
            <label for="id_telefono">Teléfono:</label>
            {{ usuarioForm.telefono }}
            </div>
            <button type="submit" class="btn btn-primary">Registrar Usuario</button>
        </form>
     </div>
</div>

{% endblock %}