{% extends "base.html" %}
{% block content %}
<div class="d-flex">    <!--tabla de usuarios para generar clientes-->
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    {% block script %}
        <script>
                $(document).ready(function() {
                    $('#tablaUsuarios').DataTable({
                        language : {
                            url: "//cdn.datatables.net/plug-ins/1.13.8/i18n/es-ES.json"
                        },
                        pageLength: 5
                    });
                });
        </script>
    {% endblock %}

    <!-- Contenido principal -->
    <div class="flex-grow-1 p-3 justify-content-end flex-column">
        <h2 class="mb-4">Elegir usuario para crear cliente</h2>
        <table class="table table-bordered table-hover align-middle" {% if perfiles %}id="tablaUsuarios"{%endif%}>
            <thead class="table-dark bg-gradient">
                <tr>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Email</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for perfil in perfiles %}
                    <tr>
                        <td>{{ perfil.user.first_name }} {{ perfil.user.last_name }}</td>
                        <td>{{ perfil.dni }}</td>
                        <td>{{ perfil.user.email }}</td>
                        <td>
                            <a href="{% url 'cliente_crear' perfil.id %}" class="btn btn-sm btn-primary">
                                Seleccionar
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">No hay usuarios disponibles.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'cliente_listar' %}" class="btn btn-danger mt-1">Cancelar</a>
    </div>
</div>
{% endblock %}
