{% extends "base.html" %}

{% block content %}
<div class="d-flex">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <h2 class="mb-4 text-danger">Eliminar Cliente</h2>
        <p>¿Estás seguro de que deseas eliminar al cliente <strong>{{ cliente.usuario_id.user_id.first_name }} {{ cliente.usuario_id.user_id.last_name }}</strong>?</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
            <a href="{% url 'cliente_listar' %}" class="btn btn-secondary mt-3">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
