{% extends "base.html" %}

{% block content %}
<div class="d-flex">    <!--clientes-->
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-3 justify-content-end flex-column">
        <h2 class="mb-4">Listado de Clientes</h2>
        <div>
            <a href="{% url 'cliente_elegir_usuario' %}">
                <button type="button" class="btn btn-success">Nuevo Cliente</button>
            </a>
        </div>
        <br>
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-dark bg-gradient">
                <tr>
                    <th>Nombre</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Objetivo</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                <tr>
                    <td>{{ c.usuario.user.first_name }} {{ c.usuario.user.last_name }}</td>
                    <td>{{ c.altura }}</td>
                    <td>{{ c.peso }}</td>
                    <td>{{ c.objetivo }}</td>
                    <td><img class="img-rounded" src="{{ c.avatar.url }}" width="30" height="30"></td>
                    <td>
                        <a href="{% url 'cliente_editar' c.id %}" class="btn btn-sm btn-primary mb-1">Editar</a>
                        <a href="{% url 'cliente_eliminar' c.id %}" class="btn btn-sm btn-danger mb-1">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No hay clientes cargados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

