{% extends "base.html" %}

{% block content %}
<div class="d-flex">    <!--tabla de membresias-->
    {% include 'sidebar.html' %}
    
        {% block script %}
            <script>
                    $(document).ready(function() {
                        $('#tablaCobranzas').DataTable({
                            language : {
                                url: "//cdn.datatables.net/plug-ins/1.13.8/i18n/es-ES.json"
                            },
                            pageLength: 5
                        });
                    });
            </script>
        {% endblock %}


    <!-- Main Content -->
    <div class="flex-grow-1 p-3 justify-content-end flex-column">
        <h2 class="mb-4">Listado de Cobranzas</h2>
        <div>
            <a class="p-1" href="{% url 'cobranza_elegir' %}">
                <button type="button" class="btn btn-success" >Crear nueva Cobranza</button>
            </a>
        </div>
        <br>    
        <table class="table table-bordered table-hover align-middle" {% if cobranzas %}id="tablaCobranzas"{% endif %} >   <!--tabla principal-->
            <thead class="table-dark bg-gradient">
                <tr>
                    <th>Email de cliente</th>
                    <th>Fecha de pago</th>
                    <th>Importe</th>
                    <th>Metodo de pago</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cobranza in cobranzas %}
                <tr>
                    <td>{{ cobranza.membresia.cliente.usuario.user.username }}</td>
                    <td>{{ cobranza.fecha_pago }}</td>
                    <td>{{ cobranza.importe }}</td>
                    <td>{{ cobranza.metodo_pago }}</td>
                    <td>
                        <!-- botones -->
                        <a href="{% url 'cobranza_editar' pk=cobranza.id %}">
                        <button type="button" class="btn btn-sm btn-primary mb-1" href="">Editar</button></a>
                        <a href="{% url 'cobranza_eliminar' pk=cobranza.id %}">
                        <button type="button" class="btn btn-sm btn-danger mb-1">Eliminar</button></a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay cobranzas registradas.</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}