{% extends "base.html" %}

{% block script %}
<script>
        $(document).ready(function() {
            $('#tablaUsuarios').DataTable({
                language : {
                    url: "//cdn.datatables.net/plug-ins/1.13.8/i18n/es-ES.json"
                },
                pageLength: 5
            });
        });
</script>
{% endblock %}

{% block content %}
<div class="d-flex">    <!--usuarios-->
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- traducir a espanol-->


    <!-- Main Content -->
    <div class="flex-grow-1 p-3 justify-content-end flex-column">
        <h2 class="mb-4">Listado de Usuarios</h2>
        <div>
            <a class="p-1" href="{% url 'crearUsuario' %}">
                <button type="button" class="btn btn-success" href="{% url 'crearUsuario' %}">Crear nuevo usuario</button>
            </a>
        </div>
        <br>    
        <table class="table table-bordered table-hover align-middle" id="tablaUsuarios">
            <thead class="table-dark bg-gradient">
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.user.email }}</td>
                    <td>{{ usuario.user.first_name }}</td>
                    <td>{{ usuario.user.last_name }}</td>
                    <td>{{ usuario.dni }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.domicilio }}</td>
                    <td>{{ usuario.fecha_nac }}</td>
                    <td>
                        <!-- botones -->
                        <a href="{% url 'editarUsuario' pk=usuario.user.id %}">
                        <button type="button" class="btn btn-sm btn-primary mb-1" href="">Editar</button></a>
                        <a href="{% url 'eliminarUsuario' pk=usuario.user.id %}">
                        <button type="button" class="btn btn-sm btn-danger mb-1">Eliminar</button></a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No hay usuarios registrados.</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
</div>


{% endblock %}